.match-filter {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 30px;
    background-color: darkcyan;
    padding-left: 30px;
    font-weight: 600;
    color: white;
}
form>div {
    margin-right: 30px;
}

@media (max-width: 640px) { 
    .match-filter {
        font-size: 1.5vh;
        margin: 0 5px
    }
 }