<scroll-view>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <table class="table">
        <tr *ngFor="let team of teams">
            <td class="team-col"><img class="team-logo" [src]="team.crestUrl"/></td>
            <th  class="team-col">{{team.tla}}</th>
            <td  class="team-col col-center">{{team.name}}</td>
            <td  class="team-col col-center">{{team.area.name}}</td>
            <td class="team-col"><app-track
                [itemId]="team.id"
                [tracker]="trackTeam.bind(this)"
                [untracker]="untrackTeam.bind(this)"
                [tracked]="true"
                style="float:right"
              ></app-track></td>
        </tr>
    </table>
</scroll-view>