table {
    width: auto;
    max-width: 94%;
    margin: auto;
}

.team-col {
    width: 20%;
}
.col-center {
    text-align: center;
}

.team-logo {
    height: 30px; width: 30px
}

.col-track {
    width: 15%
}

@media (max-width: 640px) { 
    .table {
        font-size: 1.5vh;
        font-weight: 500;
    }
 }