
<div class="auth-form">
  <div class="col-xs-12 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->
    <!-- <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert> -->
    <form #authForm="ngForm">
      <div style="text-align: center;
      font-size: 25px;">Authentication</div>
      <div [ngClass]="{'hidden': !error}" class="error">{{ error }}</div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          placeholder="Email"
          name="email"
          required
          email
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          placeholder="Password"
          required
          minlength="6"
        />
      </div>

      <div *ngIf="mode === 'signup'" class="form-group">
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          ngModel
          name="confirmPassword"
          placeholder="Confirm password"
          required
          minlength="6"
        />
      </div>
      <button type="button" (click)="loginWithGoogle()" style="background-color: wheat;float:left; margin-right: 10px" class="btn btn-light"><img style="height: 15px;" src="./assets/icons/google.png"/> Sing in with Google </button>
       
      <div [ngSwitch]="mode">
        <div *ngSwitchCase="'login'">
         <button
           class="btn btn-success"
           type="submit"
           style="    background-color: darkcyan;"
           (click)="login(authForm.form)"
         >
           Sign in
         </button>
         <button style="color: saddlebrown;text-decoration: underline;" class="btn btn-link" [routerLink]="'/auth/signup'"> Swith to Sign up </button>
        </div>
  
       <div *ngSwitchCase="'signup'">
         <button
           class="btn btn-success"
           type="submit"
           style="    background-color: darkcyan;"
           (click)="signup(authForm.form)"
         >
           Sign up
         </button>
         <button style="color: saddlebrown;text-decoration: underline;" class="btn btn-link" [routerLink]="'/auth/login'">  Swith to Sign in </button>
       </div>
     </div>
    </form>
  </div>
</div>
