table {
    margin: 0 3%;
    width: 94%;
    background-color: #f7f7f7;
}

.match-day {
    text-align: center;
    /*font-weight: 500;*/
    font-size: large;
    margin: 20px 0 10px;
}
.finished {
    background-color: cornsilk;
}
.postponed {
    background-color: cornsilk;
}
.tracked-team {
    color: white;
    background-color: darkcyan;
    /* font-weight: 600; */
}

.scroll-view {    
    position:  fixed;
    top:  130px;
    width: 100%;
    overflow-y: scroll;
    bottom: 0;
}

@media (max-width: 640px) { 
    .table th, .table td {
        font-size: 1.5vh;
        font-weight: 500;
        padding: 1px;
    }
    .match-day {
        font-size: 3vw;
    }
 }