table {
    margin: 0 3%;
    width: 94%;
    background-color: #f7f7f7;
}

tr {
    background-color: cornsilk;
}

.match-day {
    text-align: center;
    font-size: large;
    margin: 20px 0 10px;
}
.finished {
    background-color: #f7f7f7;
}
.postponed {
    background-color: #f7f7f7;
}
.tracked-team {
    color: white;
    background-color: darkcyan;
}

.col-data{
    width: 10%;
}
.col-home-team {
    width: 28%;
    text-align: right;
}
.col-home-team-score {
    width: 5%;
    text-align: right;
}
.col-separator {
    width: 4%;
}
.col-away-teamscore {
    width: 5%;
    text-align: left;
}
.col-away-team {
    width: 28%;
    text-align: left;
}
.col-track {
    width: 10%;
}

@media (max-width: 640px) { 
    .table th, .table td {
        font-size: 1.5vh;
        font-weight: 500;
        padding: 1px;
    }
    .match-day {
        font-size: 3vw;
    }
 }