table {
    margin: auto;
    background-color: #f7f7f7;
    max-width: 1000px;
}

/*tr {
    background-color: floralwhite;
}*/

.match-day {
    text-align: center;
    font-size: large;
    margin: 20px 0 10px;
}
.finished {
    background-color: beige;
}
.postponed {
    background-color: #f7f7f7;
}
.tracked-team {    
    font-weight: 500;
    color: darkgoldenrod;
}
.col-competition {
    width: 4.1vw;
}
.col-competition img {
    width: 4vw;
    height: 4vw;
    max-width: 30px;
    max-height: 30px;
    float: left;
}
.col-home-team {
    width: 30%;
    text-align: right;
}
.col-home-team-score {
    width: 5%;
    text-align: right;
}
.col-separator {
    width: 3%;
}
.col-away-team-score {
    width: 5%;
    text-align: left;
}
.col-away-team {
    width: 30%;
    text-align: left;
}
.col-track {
    width: 15%;
}

@media (max-width: 640px) { 
    .table th, .table td {
        font-size: 1.5vh;
        font-weight: 500;
        padding: 1px;
    }
    .match-day {
        font-size: 3vw;
    }
 }